@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}
@keyframes l7 {to{transform: rotate(.5turn)}}

::-webkit-scrollbar {
  width: 4px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px inherit;
  border-radius: 4px;
}


::-webkit-scrollbar-thumb {
  background: #76ABAE;
  border-radius: 4px;
}